<ng-container *ngIf="bookDetailed">
    <div class="details"></div>
        <div class="book-info">
            <div>Title: {{bookDetailed.title}}</div>
            <div>Author: {{bookDetailed.authorName}}</div>
            <div>Genre: {{bookDetailed.genre}}</div>
            <div>Country: {{bookDetailed.country}}</div>
            <div>Release year: {{bookDetailed.year}}</div>
        </div>    
        <div class="author-info">
            <div>First name: {{bookDetailed.author.firstName}}</div>
            <div>Last name: {{bookDetailed.author.lastName}}</div>
            <div>Birth: {{bookDetailed.author.birth}}</div>
            <div>Death: {{bookDetailed.author.death}}</div>
            <div>Nationality: {{bookDetailed.author.nationality}}</div>
        </div>
</ng-container>