body
{
    margin: 0;
    padding: 0;
    background-color:  rgb(228, 230, 195);
    font-family: garamond
}


.nav-bar
{
    position: sticky;
    top: 0%;
    padding: 0%;
    width: 100%;
    background-color: rgb(34, 39, 37);
    border-style: none none solid none;
    border-width: 5px;
    border-color: rgb(136, 90, 90);
    box-shadow:  1px 1px 5px rgb(34, 39, 37);
    z-index: 1;
}

.nav-bar
{
    color: rgb(228, 230, 195);
    text-align: center;
    float: center;
    display: flex;
} 

.page
{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 7%;
    text-shadow:rgb(136, 90, 90) 5px 0 10px;
    font-family: garamond;
    font-weight: bold;
    font-size: larger;
}

a:link,a:visited
{
    color: rgb(228, 230, 195);
    text-decoration: none;
}

.footer
{
    position: absolute;
    bottom: 0%;
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: rgb(34, 39, 37);
    border-style: solid none none none;
    border-width: 5px;
    border-color: rgb(136, 90, 90);
    box-shadow:  1px 1px 5px rgb(34, 39, 37);
    z-index: 1;
}

.imgContainer
{
    margin: 0;
    padding: 0;
    display: inline;
}

.right
{
    position: absolute;
    top:7.5%;
    right: 0;
    padding: 0%;
    margin: 0%;
    width: 7.2%;
    height: 72%;
    background-color: rgb(34, 39, 37);
    display: block;
    border-style: none none none solid;
    border-width: 5px;
    border-color: rgb(136, 90, 90);
    box-shadow:  1px 1px 5px rgb(34, 39, 37);
    z-index: 1;
}

.imgContainer2
{
    margin: 0;
    padding: 0;
    height: 25%;
    display: block;
}
