<!DOCTYPE html>
<html>

  <head>
    <title> Rest Api </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    
      <div class="nav-bar">
        <a class="page" routerLink=""> Home </a>
        <a class="page" routerLink="books"> Books </a>
        <div class="page" routerLink="authros"> Authors </div>
        <div class="page" routerLink="publishers"> Publishers </div>
        <div class="page" routerLink="bookPublishers"> Books & Publishers</div>
      </div>

      <div class="footer">
        <div class="imgContainer"><img src="assets/pictureOfDorianGray.jpg" style="height: 145px; width: 7.14%"></div>
        <div class="imgContainer"><img src="assets/otranto.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/nietzsche.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/morgue.jpg" style="height: 145px; width: 7.14%;" ></div>
        <div class="imgContainer"><img src="assets/dracula.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/udolpho.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/carmilla.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/houseOfSeven.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/silentCompanions.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/sacredAndProfane.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/alchemy.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/staringSun.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/beingAndTime.jpg" style="height: 145px; width: 7.14%;"></div>
        <div class="imgContainer"><img src="assets/poems.jpg" style="height: 145px; width: 7.14%;"></div>
      </div>
        
      <div class="right">
        <div class="imgContainer2"><img src="assets/phantomOfTheOpera.jpg" style="width: 100%; height: 100%;"></div>
        <div class="imgContainer2"><img src="assets/sisif.jpg" style="width: 100%; height: 100%;"></div>
        <div class="imgContainer2"><img src="assets/myth.jpg" style="width: 100%; height: 100%;"></div>
        <div class="imgContainer2"><img src="assets/milkAndHoney.jpeg" style="width: 100%; height: 100%;"></div>
      </div>

      <router-outlet></router-outlet>
      
  </body>

</html>

