<p>Add a book</p>

<form (submit)="addBook()">
    <input type="text" id="title" value="Title"><br><br>
    <select id="authors" name="author">
        <option *ngFor="let author of authors" value={{author.author_id}}>
            {{author.firstName + " " + author.lastName}}
        </option>
    </select>
    <input type="text" id="genre" value="Genre"><br><br>
    <input type="text" id="country" value="Country"><br><br>
    <input type="text" id="releaseYear" value="Year"><br><br>
    
    <button type="submit">ADD BOOK</button>
  </form> 
  