<br>
<h2 class = "intro"> Welcome! </h2>
<br>

<h3 class="intro" style="width:30%;"> Here you can explore book titles worth reading, their authors, and publishers.  </h3>

<div class="quotes">
    
<div class="quotes1">
    <p class = "quote">“When you gaze long into an abyss the abyss also gazes into you.”</p>
    <p class ="author">-F. Nietzsche</p>
</div>

    <div class="quotes2">
    <p class = "quote">“The truth is rarely pure and never simple.”</p>
    <p class ="author">-Oscar Wilde</p>
</div>

<div class="quotes3">
    <p class = "quote">“Every person must choose how much truth he can stand.”</p>
    <p class ="author">-Irivn D. Yalom</p>
</div>

<div class="quotes4">
    <p class = "quote">“Life cannot be repaired, it can only be recreated through symbolic repetition of the cosmogony.”</p>
    <p class ="author">-Mircea Eliade</p>
</div>

<div class="quotes5">
    <p class = "quote">“The death of a beautiful woman is, unquestionably, the most poetical topic in the world.”</p>
    <p class ="author">-Edgar Allan Poe</p>
</div>

<div class="quotes6">
    <p class = "quote">“It takes grace to remain kind in cruel situations.”</p>
    <p class ="author">-Rupi Kaur</p>
</div>

</div>

<div class="line1"></div>

<br>
<h3 class="intro" style="margin-top: 0%;"> Topics of interest: </h3>

<ul class="fa-ul">
    <li class="intro"><span class="fa-li"><i class="fa fa-leanpub"></i></span> Gothic literature </li>
    <li class="intro"><span class="fa-li"><i class="fa fa-leanpub"></i></span> Mystery literature</li>
    <li class="intro"><span class="fa-li"><i class="fa fa-leanpub"></i></span> Fiction literature</li>
    <li class="intro"><span class="fa-li"><i class="fa fa-leanpub"></i></span> Philosophical literature</li>
    <li class="intro"> <span class="fa-li"><i class="fa fa-leanpub"></i></span>Poetry </li>
</ul>
